/* Intialising font */

@font-face {
    font-family: Tungsten-Light;
    src: url("fonts/Tungsten-Light.ttf");
}

/* Requisites */

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: "Tungsten-Light";
    background-color: black;
    color: white;
}

html{
    scroll-behavior: smooth;
}

/* Desktop Navigation bar on header */

header nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
    font-size: 5rem;
}

nav, .nav-links{
    display: flex;
}

.nav-links{
    list-style-type: none;
    gap: 2rem;
}

.nav-links a{
    color: white;
    text-decoration: none;
    text-decoration-color: black;
    transition: all 1s ease;
}

.nav-links a:hover{
    color: lightgray;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: #808080;
}

.logo{
    font-size: 7rem;
}

.logo:hover{
    cursor: default;
}

/* Mobile navigation bar on header */

#mobile-nav{
    display: none;
}

.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    ;
}

.mobile-logo{
    float: right;
    position: absolute;
    justify-content: space-around;
    font-size: 4rem;
}

.mobile-logo:hover{
    cursor: default;
}

.hamburger-icon span{
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all 1s ease-in-out;
}

.hamburger-menu-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.1s ease-in-out;
    font-size: 2rem;

}

.hamburger-menu-links a{
    display: block;
    padding: 10px;
    text-align: center;
    list-style: none;
    color: white;
    text-decoration: none;
    transition: all 2s ease-in-out;

}

.hamburger-menu-links li{
    float: left;
    list-style-type: none;
    margin: 0;
}

.hamburger-menu-links.open{
    max-height: 100%;
}

/* .hamburger-icon.open span:first-child{
    transform: translate(22px);
}
.hamburger-icon.open span:nth-child(2){
    transform: translate(0,-11px);
} */

.hamburger-icon.open span:first-child{
    transform: translate(0px,-5px);
    transition-duration: 1s;
}

/* Profile */

section{
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-text{
    display: flex;
    display: inline-block;
    align-self: center;
    text-align: center;
}

#profile{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.profile-pic-container{
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.profile-pic-container img{
    border-radius: 5%;
}

.section-text p{
    font-weight: 600;
}

.section-text-paragraph{
    text-align: center;
    font-size: 2.75rem;
    margin-bottom: 1rem;
}

.section-text-paragraph-2{
    text-align: center;
    font-size: 1.75rem;
}

.section-text-header{
    font-size: 3rem;
    text-align: center;
}

#socials-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* Profile icon */

.icon{
    cursor: pointer;
    height: 4rem;
    filter: invert(100);
}

/* Profile Buttons */

.button-container{
    font: weight;
    transition: all 1s;
    padding: 1rem;
} 

.cv-button, .contact-button{
    border: white 0.1rem solid;
    transition: all 1s;
    border-radius: 2rem;
    size: 5rem;
    padding: 1rem;
    margin: 1rem;
}

.cv-button:hover, 
.contact-button:hover{
    cursor: pointer;
}

.cv-button:hover{
    background-color: black;
    color: white;
}

.contact-button{
    background-color: black;
    color: white;
}

.contact-button:hover{
    background-color: white;
    color: black
}

/* About me */

#About-Me{
    text-align: center;
    justify-content: space-around;
}

.title {
    font-size: 4rem;
}

.details-container h2{
    font-size: 2rem;
}

.details-container p{
    font-size: 2rem;
}
